* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Text';
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden; 
  background: #000;   
  color: white;
}

main {
  height: 100%;
  width: 100%;
}
